<!doctype html>
<head>
	<title>FlaskApp</title>
</head>

<body>
	<form method="post" action="{{ url_for('change_password') }}">
		<label for="username">Username : </label>
		<input type="text" name="username"><br/>
		
		<label for="current_password">Current Password : </label>
		<input type="password" name="current_password"><br/>

		<label for="password">New Password : </label>
		<input type="password" name="password"><br/>
		
		<label for="confirm_password">Confirm New Password : </label>
		<input type="password" name="confirm_password"><br/>

		<input type="submit" value="Submit">
	</form>
</body>